<include file="Public/header_common" />
<body>
<header class="header box">
    <div class="box_icon_left" id="menuButon" onclick="history.back();">
        <img class="box_icon_left_img" src="__IMG__/left.png" />
    </div>
    <div class="box_title">拍品出价记录</div>
    <div class="box_icon_bg" onclick="location.href = '/Weixin'">
        <img class="box_icon_img_bg" src="__IMG__/logo_icon_white.png" />
    </div>
</header>
<div class="paipin">
    <notempty name="data.goodsDetail.pics.0.path">
        <img src="{$data.goodsDetail.pics.0.path}" />
        <else />
        <img src="" />
    </notempty>
    <p class="pd_lr_20 pd_t_15 pd_b_15">{$data.goodsDetail.title}</p>
</div>
<div class="record mr_top_20">
    <div class="recordTitle">
        <p>出价记录</p>
        <div class="pd_l_20">{$data.biddingLog|count}条</div>
    </div>
    <volist name="data.biddingLog" id="vo" key="k">
        <eq name="k" value="1">
            <div class="box_rol_3 pd_tb_20 mr_rl_20 record_select_text_color">
                <else />
                <eq name="k" value="$data.biddingLogCount">
                    <div class="box_rol_3 pd_tb_20 mr_rl_20 box_rol_3_bornone">
                        <else />
                        <div class="box_rol_3 pd_tb_20 mr_rl_20">
                </eq>
        </eq>
        <div class="name">{$vo.mobile}</div>
        <div class="time">{$vo.create_at|date='m.d H:i:s',###}</div>
        <div class="price">￥{$vo.price}</div>
</div>
</volist>
</div>
<a id="doLike" data-goodsid="{$data.goodsDetail.id}" href="javascript:void(0);">
    <div class="like_box">
		<p>点击</p>
		<p>收藏</p>  
	</div>
</a>
</body>
</html>
<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/Public/Weixin/js/priceLog.js"></script>
<script type="text/javascript" src="/Public/Weixin/layer/layer.js"></script>
<script src='http://cdn.bootcss.com/socket.io/1.3.7/socket.io.js'></script>
<script>
    $('#doLike').click(function () {
        var goodsId = $(this).data('goodsid');
        $.post("/Weixin/doLike" , {goods_id : goodsId} , function (data) {
            if (data == 1) {
                layer.open({content : '收藏成功' , btn : ['确定']});
            } else if (data == 2) {
                layer.open({content : '已收藏过' , btn : ['确定']});
            } else {
                layer.open({content : '收藏失败' , btn : ['确定']});
            }
        });
    });
</script>