<extend name="Public/base"/>

<block name="body">

	<div class="main-title">

		<h2>{:isset($info['id'])?'编辑':'新增'}地区</h2>

	</div>

	<div class="tab-wrap">

		<div class="tab-content">

			<form action="{:U()}" method="post" class="form-horizontal">
	<input type="hidden" name="pid" class="text input-large" value="{$info.pid|default=$pid}">
				<!-- 基础 -->

				<div id="tab1" class="tab-pane in tab1">


					<div class="form-item">
						<label class="item-label">
							地区名称<span class="check-tips">（名称不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="name" class="text input-large" value="{$info.name|default=''}">
						</div>
					</div>
					
					<div class="form-item">
						<label class="item-label">
							地区代码<span class="check-tips">（地区代码不能为空）</span>
						</label>
						<div class="controls">
							<input type="text" name="areacode" class="text input-large" value="{$info.areacode|default=''}">
						</div>
					</div>
                                    
					
				</div>	

				<div class="form-item">

					<input type="hidden" name="id" value="{$info.id|default=''}">

					<button type="submit" id="submit" class="btn submit-btn ajax-post" target-form="form-horizontal">确 定</button>

					<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>

				</div>

				</form>

		</div>

	</div>

</block>



<block name="script">

	<script type="text/javascript">
		//导航高亮
		highlight_subnav("{:U('Area/area')}");
	</script>

</block>

