<div class="footer">
    <div class="f1">
        <a href="{:U('Inedex/index')}" class="active">
            <img src="__IMG__/f1a_03.png" alt="" />
            <p>首页</p>
        </a>
    </div>
    <div class="f2">
    	<a href="{:U('Openprize/index')}">
    		<img src="__IMG__/f2_03.png" alt="" />
            <p>开奖号码</p>
    	</a>
    </div>
    <div class="f3">
        <a href="{:U('My/index')}">
            <img src="__IMG__/f3_03.png" alt="" />
            <p>个人中心</p>
        </a>
    </div>
</div>