<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>玩法规则</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="__CSS__/common.css">
    <style>
        .z-sc{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
	<div class="mainall">
		<img src="__IMG__/z-sc.jpg" alt="">
	</div>
	<include file="Public/footer" />
</body>
</html>