<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兑奖记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/duihuan.css">
</head>
<body>
<div class="mainall">
    <div class="tab">
        <div class="tabtitle">
            <p class="active">未兑奖</p>
            <p class="">已兑奖</p>
        </div>
        <div class="tabuls">
            <ul class="buylis">
                <volist name="noExchangeList" id="vo">
                    <li>
                        <div class="li1">
                            <div class="li-img"><img src="{$vo.order.goods_detail.cover_id|get_cover='path'}" alt=""></div>
                            <!--<div class="li-p1">半价购买 : ¥ <span class="red">{$vo.goods_type}</span> </div>-->
                        </div>
                        <div class="li2">
                            <p class="li-tit">{$vo.order.goods_detail.title}</p>
                            <!--<p class="">本期期数： <span class="red">{$vo.order.period}</span></p>-->
                            <p>我的选择：<span class="red">{$vo.order.num}单 {$vo.type}</span></p>
                            <!--<p>获胜号码：<span class="red">{$vo.win_code}</span></p>-->
                            <p>参与时间：{$vo.order.create_time|date='Y/m/d H:i:s', ###}</p>
                            <p>开奖时间：{$vo.order.lottery_time}</p>
                        </div>
                        <div class="qx"><a href="/Weixin/My/getExchangeCode/id/{$vo.id}" >兑奖</a></div>
                    </li>
                </volist>
            </ul>
            <ul>
                <volist name="yesExchangeList" id="vo">
                    <li>
                        <div class="li1">
                            <div class="li-img"><img src="{$vo.order.goods_detail.cover_id|get_cover='path'}" alt=""></div>
                            <div class="li-p1">半价购买 : ¥ <span class="red">{$vo.goods_type}</span> </div>
                        </div>
                        <div class="li2">
                            <p class="li-tit">{$vo.order.goods_detail.title}</p>
                            <!--<p class="">本期期数： <span class="red">{$vo.order.period}</span></p>-->
                            <p>我的选择：<span class="red">{$vo.order.num}单 {$vo.type}</span></p>
                            <!--<p>获胜号码：<span class="red">{$vo.win_code}</span></p>-->
                            <p>参与时间：{$vo.order.create_time|date='Y/m/d H:i:s', ###}</p>
                            <p>开奖时间：{$vo.order.lottery_time}</p>
                        </div>
                        <!--<div class="qx">查看详情</div>-->
                    </li>
                </volist>
            </ul>
        </div>
    </div>

</div>
<include file="Public/footer3" />

<script type="text/javascript" src="__JS__/zepto.min.js"></script>
<script type="text/javascript">
    $(function(){
        $('.tabtitle p').tap(function(){
            var i=$(this).index();
            $(this).addClass('active').siblings().removeClass('active');
            $('.tabuls ul').eq(i).show().siblings().hide();
        })
    })
</script>
</body>
</html>