<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="__CSS__/common.css">
    <link rel="stylesheet" href="__CSS__/password.css">
</head>
<body>
<div class="mainall">
    <div class="btn">
        <div class="btn1"  onclick="callpay();">确认</div>
    </div>
</div>

<script type="text/javascript" src="__JS__/zepto.min.js"></script>

</body>
</html>