.mainall{margin-bottom: 0;}
.bg{
    width: 100%;
    height: 4.6667rem;
    /*background: url(../images/bg2_02.jpg) 0 0 no-repeat;*/
    background-size: 100% 100%;
}
.loading{
    width: 100%;
    height:1.4933rem;
    padding: 0.333rem 0.32rem;
}
.load1{
    float: left;
}
.load1 img{
    width: 1rem;
    height: 0.8267rem;
}
.load2{
    float: left;
    margin-left: 0.3466rem;
    height: 1.1466rem;
}
.load2 p{
    height:0.5733rem;
    line-height: 0.5733rem;
}

.load2 p:nth-child(1){
    color: #5d6b7d;
    font-size: 0.32rem;

}
.load2 p:nth-child(2){
    color: #db4252;
    font-size: 0.2667rem;

}

.tabtitle{
    padding:  0 0.32rem;
    overflow: hidden;
}
.tabtitle p{
    color: #5d6b7d;
    font-size: 0.4rem;
    width: 50%;
    height: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    float: left;
}
.tabtitle .active{
    color:#db4352;
    border-bottom: 2px solid #db4352;
}
.tablis{
    width: 100%;
    background: rgba(248,249,253,1);
}
.tablis ul{display: none;}
.tablis ul:nth-child(1){display: block;}
.tablis li{
    height: 1.333rem;
    padding: 0.466rem 0.333rem 0;
    background: rgba(248,249,253,1);
    margin-bottom:0.1rem;
}
.tablis li div{
    float: left;
    height: 1rem;
}
.li1{
    margin-top: -0.2rem;
}
.li1 img{
    width: 1rem;
    height: 1rem;
}
.li2{
    font-size: 0.34rem;
    width: 7.9rem;
    height:1rem;
    margin-top: -0.1rem;
    margin-left: 0.13rem;
}
.li2 p{
    height: 0.4335rem;
    line-height: 0.4335rem;
}
.li2 p:first-child{
    overflow: hidden;
    margin-bottom: .1rem;
}
.li2l{
	width: 4.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
    float: left;
    color: #5d6b7d;
}
.li2r{
    float: right;
    color: #8296b1;
}
.li2 p:nth-child(2) {
    color: #8296b1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.li2 p:nth-child(2) span{
    color: #db4252;
}
/*购买*/
.alert {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
}
.content {
    margin:0 0.8rem;
    height: 9.1rem;
    background: #fff;
    position: relative;
    left: 0;
    top:3.7rem;
}
.cont{
    font-size: 0.32rem;
    height: 0.9333rem;
    line-height: 0.9333rem;
    text-align: center;
    background: rgba(219,66,82,1);
    color: #fff;
    letter-spacing: 1px;
}
.conbd{
    padding:0  0.666rem;
    font-size: 0.32rem;
    color: #5d6b7d;
}
.cbdt{
    height: 1.1333rem;
    line-height: 1.133rem;
    text-align: center;
    color: #5d6b7d;

}
.btn-group{
    overflow: hidden;
}
.btn-group button{
    float: left;
    height: 0.8rem;
    line-height: 0.8rem;
}
.btn-group .btn1,.btn-group .btn3{
    width: 1.55rem;
    border: none;
    background-color: #DDDDDD;
}
.btn-group .btn2{
    width: 3.8rem;
    height: 0.8rem;;
    text-align: center;
    color: #db4252;
    float: left;
    border-top: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.btn-group .btn1{
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webki-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
}
.btn-group .btn3{
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    -webki-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
}
.number{
    padding: 0.666rem 0 0.266rem 0;
    /*height: 1.6rem;*/
    overflow: hidden;
    border-bottom: 1px solid #DADADA;
}
.number li:not(:last-child){
    float: left;
    width: 1.733rem;
    height: 0.666rem;
    line-height: 0.666rem;
    text-align: center;
    border: 1px solid #E8E8E8;
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
    margin-bottom: 0.266rem;
}
.sum{
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    letter-spacing: 1px;
    margin-top: .2rem;
}
.max-sum{
    width: 100%;
    text-align: center;
    height: .9rem;
    line-height: .9rem;
    display: block;
    color: #8296b1;
    margin-top: 1.7rem;
}
.pay{
    width:5.333rem;
    height: 0.8rem;
    display: inline-block;
    line-height: 0.8rem;
    text-align: center;
    background: rgba(219,66,82,1);
    color: #fff;
    margin: .1rem 0.9rem ;
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
}
.line{
    position: absolute;
    width: 2px;
    height: 0.7rem;
    background: #fff;
    right: 0.613rem;
    top: -0.7rem;
}
.close{
    width: 0.68rem;
    height: 0.68rem;
    background: url(../images/zz-close_03.png);
    background-size: 0.68rem 0.68rem;
    position: absolute;
    right: 0.273rem;
    top: -1.38rem;
}
