.bg{
    width: 100%;
    height: 4.6667rem;
    /*background: url(../images/bg2_02.jpg) 0 0 no-repeat;*/
    background-size: 100% 100%;
    position: relative;
}
.bgp{
    position: absolute;
    bottom: 0;
    width:100%;
    height:0.8rem;
    line-height: 0.8rem;
    background-color: rgba(92,116,147,1);
    color: #fff;
    font-size: 0.32rem;
    padding:0 0.32rem;
}
.bgp p{
    float: left;
}
.bgp1{
    width:2.5rem;
}
.bgp .bgp3{
    float: right;
}
.bgp .bgp2{
	float: right;
    width: 2.5rem;
    text-align: center;
    height: 0.533rem;
    line-height:0.533rem ;
    margin-left: 1.4rem;
    margin-top: 0.133rem;
    background: rgba(219,66,82,1);
    font-weight: bold;
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
}

.vs{
    width: 100%;
    height: 5rem;
    background: url(../images/winbg_02.png) 0 0 no-repeat;
    background-size: 100% 100%;
    font-size: 0.36rem;
}

.vsl{
    width:1.865rem;
    height:3rem;
    float: left;
    margin-left: 1.4rem;
    margin-top: 1.09rem;
    position: relative;
}
.vsl img{
    width:1.4133rem;
    height: 1.4133rem;
}
.vsr img{
    width: 1.24rem;
    height: 1.24rem;
}
.red{
    color:#DC4E5D;
    margin-top: 0.293rem;
}
.vsl3{
    margin-top: 0.4rem;
    width:1.4667rem;
    height:0.533rem ;
    line-height: 0.533rem;
    text-align: center;
    color: #fff;
    background: rgba(219,66,82,1);
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
}
.vsm{
    float: left;
    height: 3.44rem;
    width: 2.05rem;
    margin-top: 0.8rem;
    margin-left: 0.4rem;
}
.vsm img{
    width:1.33rem;
    height:2.011rem ;
}
.vsmp{
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    background: rgba(92,116,147,1);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-left:0.35rem;
    margin-top: 0.24rem;
    color: #fff;
    position: relative;

}
.vsmp1{
    position: absolute;
    left:0.4rem;
    top:0.2rem;
}
.vsrd{
    /*overflow: hidden;*/
    height: 2.2129rem;
    position: relative;
    text-align: center;
}
.vsrd div{
    display: inline-block;
}
.win{
    width: 0.96rem;
    height: 1.06666rem;
    z-index: 200;
    position: absolute;

}
.win2{
    left: -0.7rem;
    top: -0.35rem;
}
.win3{
    right: 0;
    top: -0.4rem;
}
.win img{
    width: 0.96rem;
    height: 1.06666rem;
}

.vsr .vsl3{
    background: rgba(243,141,49,1);
    margin-left: 1.3rem;
}
.vsr{
    width:4rem;
    height:3rem;
    float: right;
    margin-right: 0.28rem;
    margin-top: 1.09rem;
}
.vsr .vsrd div{
    width: 1.24rem;
    /*float: left;*/
   display: inline-block;
    margin-left: 0.14rem;
}
.vsr .vsrd div:nth-child(1){
    margin-left: 0;
}
.win_center{
	left: .9rem;
}
.vsr .gray{
    color: #5d6b7d;
    margin-top: 0.293rem;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a{text-decoration: none;}
.descr{
    height: 1.866rem;
    line-height: 0.8rem;
    padding: 0.133rem 0.333rem;
    font-size: 0.28rem;
    color: #999;
}
.descr span{
    color: #db4252;
    font-size: 0.36rem;
}
.descr a{
    color: #999;
}
.descr a:active{
    text-decoration:underline;
}
.buy{
    text-align: center;
}
.buy button{
    width:7.466rem;
    height:1.2rem ;
    font-size: 0.45rem;
    background:rgba(219,66,82,1) ;
    color: #fff;
    border: none;
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
    letter-spacing: 1px;
}