.mainall{

    background-color: #F8F9FD;
}
.bg{
    width: 100%;
    height: 4.6667rem;
    position: relative;
}
.bg img{
	width: 100%;
    height: 4.6667rem;
}
.bgp{
    position: absolute;
    bottom: 0;
    width:100%;
    height:0.8rem;
    line-height: 0.8rem;
    background-color: rgba(92,116,147,1);
    color: #fff;
    font-size: 0.32rem;
    padding:0 0.32rem;
}
.bgp p{
    float: left;
}
.bgp1{
    width:2.5rem;
}
.bgp .bgp3{
    float: right;
}
.bgp2 {
    width: 1.333rem;
    height: 0.533rem;
    line-height: 0.533rem;
    margin-left: 1.4rem;
    margin-top: 0.133rem;
    background: rgba(219, 66, 82, 1);
    font-weight: bold;
    -webkit-border-radius: 0.0667rem;
    -moz-border-radius: 0.0667rem;
    border-radius: 0.0667rem;
}

.vs{
    width: 100%;
    height: 5rem;
    background: url(../images/winbg_02.png) 0 0 no-repeat;
    background-size: 100% 100%;
    font-size: 0.373rem;
}

.vsl{
    width:1.865rem;
    height:3rem;
    float: left;
    margin-left: 1.4667rem;
    margin-top: 0.8rem;
    position: relative;
}
.win{
    width: 0.96rem;
    height: 1.06666rem;
    position: absolute;
    right: 0rem;
    top: -0.4rem;
}
.win2 {
    left: -0.4rem;
    top: -0.4rem;
}
.vs .win img{
    width: 0.96rem;
    height: 1.06666rem;

}

.vsl img,.vsr img{
    width:1.4133rem;
    height: 1.4133rem;
    border-radius: 50%;
    overflow: hidden;
}
.red{
	height: 0.5rem;
    color:#DC4E5D;
    margin-top: 0.18rem;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.vsl3{
    margin-top: 0.4rem;
    width:1.4667rem;
    height:0.533rem ;
    line-height: 0.533rem;
    text-align: center;
    color: #fff;
    background: rgba(219,66,82,1);
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
}
.vsl4{
    color: #8296b1;
    width: 2.8rem;
    height: 0.3733rem;
    margin-left: -0.466rem;
    overflow: hidden;
    font-size: 0.28rem;
    margin-top: 0.18rem;
}
.vsr .vsl3{
    background: rgba(243,141,49,1);
}
.vsr{
    width:1.865rem;
    height:3rem;
    float: right;
    margin-right: 1.946rem;
    margin-top: 0.8rem;
    position: relative;
}
.vsr .red{
    color: #5d6b7d;
}
.vsm{
    float: left;
    height: 3.44rem;
    width: 2.05rem;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
}
.vsm img{
    width:1.33rem;
    height:2.011rem ;
}
.vsmp{
    width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    background: rgba(92,116,147,1);
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    margin-left:0.35rem;
    margin-top: 0.24rem;
    color: #fff;
    position: relative;

}
.vsmp1{
    position: absolute;
    left:0.4rem;
    top:0.15rem;
}
.foot{
    height: 6.4rem;
    background: rgba(248,249,253,1);
    padding:0.4rem 0.33rem 0;
    border-top: 1px solid #CCC;
    font-size: 0.36rem;
}
.foot p{
    color: #8296b1;
    height: 0.6rem;
    line-height: 0.6rem;
    padding-left: 0.533rem;
}
.foot .red{
    color: #db4252;
}
.foot .gz{
    height: 0.666rem;
    width: 1.5rem;
    line-height: 0.666rem;
    text-align: center;
    margin-left: 0.533rem;
    margin-top: 0.4rem;
    color: #db4252;
    border-bottom: 1px solid #ccc;

}