a{text-decoration: none;}

.bg{
    width: 100%;
    height: 4.6667rem;
    /*background: url(../images/bg1_02.png);*/
    /*background-size: 100% 100%;*/
    position: relative;
}
.swiper-container {
    width: 100%;
    height: 4.6667rem;
}
.swiper-slide {
    text-align: center;
    background: #fff;
}
.swiper-pagination span{
	width: 0.15rem;
	height: 0.15rem;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
}
.swiper-container-horizontal>.swiper-pagination-bullets{
	bottom: 0rem;
}
.search{
    margin-top: 0.2rem;
    margin-left:0.3333rem;
    position: absolute;
    height: 0.9333rem;
}
.search input{
    height: 0.933rem;
    width: 9.346rem;
    line-height: 9.346rem;
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    border-radius:0.5rem;
    background: url(../images/search_03.png) 0.4rem 50% no-repeat;
    background-size: 0.32rem 0.32rem;
    background-color: #fff;
    font-size: 0.42rem;
    padding-left: 1rem;
    color: #8296b1;
}
.bgbottom{
    height:0.9067rem;
    line-height: 0.9067rem;
    font-size: 0.4rem;
    color: #fff;
    padding-left: 0.333rem;
    background-color: rgba(219,66,82,1);
}
.bgbottom img{
    width:0.48rem;
    height: 0.45rem;
    margin-top: -0.0266rem;
}
.tejia img{
    width:100%;
    height:2.4rem;
}
.tab-img{
	/*display: flex;*/
    /*display: -webkit-flex;*/
    padding: 0 0.4rem ;/*
    justify-content: space-between;
    flex-flow: row wrap;*/
    overflow: hidden;
    
}
.tab-img div{
	width: 33.33%;
	float: left;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: .5rem;
	text-align: center;
}
.tab-img .active{
	color: #f38d31;
	border-bottom: 1px solid #F38D31;
}
.tab-ul{
	overflow: hidden;
}
.tab-ul .list-li{
	display: none;
}
.tab-ul .active{
	display: flex;
	display: -webkit-flex;
}
.list-li{
	overflow: hidden;
    display: flex;
    display: -webkit-flex;
    padding: 0.4rem 0.4rem 0;
    justify-content: space-between;
    flex-flow: row wrap;
}
.list-li li{
    width: 2.8rem;
    text-align: center;
    float: left;
    height: auto;
}
.list-li li a{
    display: block;
    width: 2.8rem;
    height: auto;
}
.list-li li a img{
	width: 2.8rem;
	height: 1.65rem;
}
.list-li li p{
    height: 1rem;
    line-height: 1rem;  
    font-size: 0.35rem;
    color: #333;
}
.lis{
    padding:0.4rem ;
    overflow: hidden;
    background-color: #f6f6f6;
}
.lis li{
    width: 9.333rem;
    height: 2.16rem;
    background-color: #fff;
    -webkit-box-shadow:0 0 4px 0 #eee;
    -moz-box-shadow:  0 0 4px 0 #eee;
    box-shadow: 0 0 4px 0 #eee;
    padding: 0.373rem  0  0.373rem 0.4rem;
    -webkit-border-radius:0.15rem;
    -moz-border-radius:0.15rem;
    border-radius:0.15rem;
    position: relative;
    margin-bottom: 0.2rem;
}
.lf{
    width: 1.413rem;
    height:1.413rem;
    float: left;
}
.lf img{
    width: 1.413rem;
    height:1.413rem;
    border-radius: 50%;
}
.lm{
    color: #8296B1;
    height:1.413rem;
    float: left;
    font-size: 0.36rem;
    margin-left: 0.333rem;
}
.lm-gwk{
    height: 0.613rem;
    line-height: 0.613rem;
}
.lm-head{
	width: 6.8rem; 
	height: 0.8rem;
	line-height: .8rem;
    font-size: 0.4rem;
    color: #5D6B7D;
    overflow: hidden;
}
.lm  .lmh{
    float: left;
}
.lmt{
	float: right;
	color:#8296B1;
}
.lt{
    position: absolute;
    width: 1.2rem;
    height:1.2rem;
    color:#fff;
    background-color: #DB4252;
    font-size: 0.375rem;
    text-align: right;
    padding-right:0.02rem ;
    right:0px;
    top:0px;
    -webkit-border-radius: 0 0 0 100%;
    -moz-border-radius: 0 0 0 100%;
    border-radius: 0 0 0 100%;
}
.lt p:nth-child(1){
    padding-right: 0.1rem;
}
.lt span{
    font-size: 0.5rem;
}
.list {
	padding-bottom: .4rem;
	
}
.list li{
    width: 100%;
    height: 1.6rem;
    border-bottom: 1px solid #E7E7E7;
}

.list li:last-child{
	margin-bottom: 0.2rem;
}
.list div{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 0.35rem;
    height: 1.6rem;
}
.li1{
    color: #8296b1;
}
.li1 p{
    height: 0.58rem;
}
.li1 .p-1{
    margin-top: 0.333rem;
}
.li2{
    color: #db4252;
    line-height: 1.6rem;
}
.li3{
    padding: 0.5rem 0;
}
.li3 p{
    width:1.333rem;
    height: 0.666rem;
    line-height: 0.666rem;
    text-align: center;
    color: #fff;
    background: rgba(243,141,49,1);
    -webkit-border-radius:0.067rem;
    -moz-border-radius:0.067rem;
    border-radius:0.067rem;
    display: inline-block;
}
.li4 p{
    background: rgba(219,66,82,1);
}
.tab-con .list{
	display: none;
}
.tab-index{
	overflow: hidden;
	padding: 0 .4rem;
}
.tab-index div{
	float: left;
	width: 50%;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	font-size: .5rem;
}
.tab-index .active{
	border-bottom: 2px solid rgba(219,66,82,1);
	color: red;
}
.list-head{ 
    background-color: #F6F6F6;
    
}
.list-head p {
    width: 25%;
    height: 1.6rem;
    /*line-height: 1.6em;*/  
    text-align: center;
    float: left;
}
.list-head p a{
    font-size: 0.4rem;
    color: #333;
}
