
@charset "utf-8";

/*轮播*/

article{
	width: 80%;
	background: #222531;
	height: 100%;
	position: absolute;
	z-index: 3;
	display: block;
	left: -80%;
}
#mains{
	position: absolute;
	left: 0%;
	width: 100%;
}
#user{
	display: -webkit-box;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
.userImg img{
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	/*border: .03rem solid #FFFFFF;*/
}
#userName{
	text-indent: .2rem;
	line-height: .86rem;
	color: #FFFFFF;
}
.funs{
	display: -webkit-box;
}
.funs_left{
	padding: .2rem 0;
}
.funs_left img{
	width: .3rem;
	height: .3rem;
}
.funs_text{
	line-height: .3rem;
	height: .35rem;
	color: #eab881;
	padding: .2rem 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	-webkit-box-flex: 1;
}
.funs_r img{
	width: .15rem;
	height: .25rem;
}
.funs_r{
	padding: .2rem 0;
	border-bottom: 1px solid rgba(255,255,255,0.5);
	width: .3rem;
	height: .35rem;
}

.swiper-slide{
	height: 3rem;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.side_big{
	height: 4rem;
}
.exercise{
	width: 100%;
	height: auto;
	background: #FFFFFF;
}
.exercise img{
	width: 100%;
}
.exercise_title{
	color: #eab881;
	width: auto;
	display: block;
	padding: .2rem 0;
	border-bottom: 2px solid #F1F1F1;
}
.exercise_content{
	color: #6B6B6B;
	padding: .2rem 0;
}
#over{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.4);
	z-index: 100;
}



#overBox{
	position: absolute;
	width: 90%;
	margin-left: 5%;
	height: 3.0rem;
	top: 50%;
	margin-top: -1.3rem;
	background: #FFFFFF;
	border-radius: .05rem;
}

#overBox p{
	margin: 13px 0 0 0px;
	padding: 0 18px;
	text-align: left;
}

#overIcon{
	padding: .2rem 0;
}
#overIcon img{
	display: block;
	width: .8rem;
	height: .8rem;
	margin: 0 auto;
}

#overBtn{
	text-align: center;
}
#overBtn button{
	width: 1.4rem;
	height: .5rem;
	background: #FFFFFF;
	border: 1px solid #D9D9D9;
	border-radius: .05rem;
}
#overBtn .btn{
	border-color: #DF4B4B;
	background: #DF4B4B;
	color: #FFFFFF;
}


.index_more{
	width: 1.0rem;
	line-height: .6rem;
	margin-top: -.15rem;
	padding: 0;
}

.index_more a{
	color: #eab881;
}




