body{
    background: rgba(248,249,253,1);
}
.set{
    background: rgba(255,255,255,1);
    border-bottom:1px solid #E7E7E7;
}
.set input{
    border: none;
    width: 100%;
    height: 1.4rem;
    line-height: 1.4rem;
    padding-left: 0.466rem;
    box-shadow: none;
    font-size: 0.36rem;
}
.mainall .shuru{
    border-bottom: none;
}
.phone{
    margin-top:1.09rem;
    background: #fff;
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    font-size: 0.46rem;
    color: #333;
}
.addwx {
	margin: 0.8rem auto .64rem;
	text-align: center;
}
.addwx img{
	width: 6.81rem;
	display: inline-block;
}
.wx-ewm{
	text-align: center;
}
.wx-ewm img{
	display: inline-block;
	width: 6.75rem;
	height: 6.75rem;
}
.longtap{
	font-size: .32rem;
	color: #333;
	text-align: center;
	margin-top: .8rem;
}
.yzm{
    position: relative;
    border-bottom: none;
}
.zm{
    width: 2.1333rem;
    height:0.8rem;
    display: inline-block;
    font-size: 0.36rem;
    line-height: 0.8rem;
    text-align: center;
    color: #fff;
    background: rgba(219,66,82,1);
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
    position: absolute;
    right:0.8rem;
    top: 50%;
    margin-top: -0.4rem;
}
#djs{
    display: none;
}
.p1,.p2{
    font-size:0.36rem;
    color: #5d6b7d;
    text-align: center;
}
.p1{
    margin-top: 0.4rem;
}
.p2{
    margin-top: 0.24rem;
}
.btn{overflow: hidden}
.btn button{
    width: 2.666rem;
    height: 1rem;
    line-height: 0.7rem;
    letter-spacing: 4px;
    -webkit-border-radius:0.0667rem;
    -moz-border-radius:0.0667rem;
    border-radius:0.0667rem;
    border: none;
    color: #fff;
    font-size: 0.2933rem;
    text-align: center;
    margin-top: 1.066rem;
}
.btn1{
    float: left;
    background: rgba(219,66,82,1);
    margin-left: 1.66rem;
}
.btn2{
    float: right;
    background: rgba(243,141,49,1);
    margin-right: 1.66rem;
}

.check_tips {
    position: absolute;
    right: 0;
    display: block;
    padding: 0 0.2rem;
    color: #444;
    height: 1.85rem;
    line-height: 1.68rem;
    font-size: 0.4rem;
    top: 0;
}

/*弹窗*/
.dh-alert{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    z-index: 20000;
    padding: 2rem 1rem;
    text-align: center;
}
.dh-quit{
    color: #fff;
    width: 0.7rem;
    height: 0.7rem;
    line-height: 0.7rem;
    text-align: center;
    font-size: 0.6rem;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}
.dh-1{
    margin: 0.2rem 0 0.5rem 0;
    font-size: 0.6rem;
    text-align: center;
    color: #D23447;
}
.dh-con{
    width:7em;
    height: 7rem;
    border: 2px solid #D23447;
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5rem;
}
.dh-con-head{
    font-size: 0.3rem;
    color: #fff;
    height: 1rem;
    line-height: 1rem;

}
.dh-ewm{
    width: 5.5rem;
    height: 5.5rem;
    display: inline-block;

}
.setipt input[type="text"]{
	border-bottom: 1px solid #e7e7e7;
}
.setipt input[type="text"]:last-child{
	border-bottom: none;
}
